<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      @if(layoutService.isDarkTheme()) {
      <img src="assets/img/logos/logo-white.svg" alt="Bethel Logo">
      } @else {
      <img src="assets/img/logos/logo-normal.png" alt="Bethel Logo">
      }
    </a>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
        <i
          class="pi"
          [ngClass]="{'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
      </button>
      <div class="relative">
        <button (click)="logout()" class="layout-topbar-action layout-topbar-action-highlight">
          <i class="pi pi-sign-out"></i>
        </button>
      </div>
    </div>
  </div>
</div>
